@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.row{
     width: 100%;
    height: 86px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color:#421f05; 
}

#a1{
    width: 1504px;
    height: 450px;
}
#a2{
    width: 376px;
    height: 560px; 
    border: solid 1px;
    background-color:#411f09;
    margin-left:47px ;
    margin-top:-113px;
    border-radius: 5px;
}
#a3{
    padding-left: 30px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 28px;
    font-size: 36px;
    font-style: italic;

}

#a4{
   padding-left:16px;
   padding-right: 15px;
   font-size:19px;
   font-style:oblique ;
   padding-bottom: 15px;
   padding-top:1px;
   color: white;

}
#a5{
    width: 360px;
    height: 233px;
    margin-top:50px;
    margin-bottom: -15px;

}
#a6{
    width: 370px;
    height: 233px;
    margin-left: 401px;
    margin-top:-337px;
    border-radius: 40px;
}
#a7{
    padding-left:35PX;
    padding-top: 66PX;
    font-family:'Dancing Script';
    color: white;

}
#a8{
    padding-left:35px;
    font-family:monospace;
    color:white
}
#a9{
    width: 360px;
    height: 233px;
    margin-bottom:14px;
    margin-top:-339px;
    margin-left: 23px;
    border-radius:40px ;
}
#b1{
    padding-left: 412px;
    padding-bottom:486px;
    margin-top:-508px;
    font-family:'Dancing Script';
     color: white;

}
#b2{
    margin-top:-493px;
    margin-left: 410px;
    height: 233px; 
    width: 360px;
    font-family:monospace;
    color:white;
}
#b3{
    padding-left: 50px;
    font-family: 'Dancing Script';
    color: white;


}
#b4{
    padding-left: 50px;
    margin-bottom: 26px;
    margin-top:-14px;
    font-family:monospace;
    color:white;
}
#b5{
    width: 360px;
    height: 233px;
    margin-left: 385px;
    margin-bottom: 80px;
    margin-top: -293px;
    border-radius: 40px;

}
#b6{
    margin-top: 1px;
    margin-left: -329px;
}
#b7{
    padding-top:3px;
    font-size:61px;
    font-style: oblique;
    margin-left:-526px;
    color:white;
}
#b8{
    width: 568px;
    height: 717px;
    border: solid black 3px;
    margin-left: 881px;
    margin-bottom:149px;
    margin-top: -1026px;
    background-color: rgb(211,202,202)
}
#b9{
    width: 568px; 
    height: 151px;
    background-color:#4e2406;
    margin-top:-29px;
}
#c1{
    text-align: center;
    padding-top: 31px;
    font-family:'Courier New', Courier, monospace;
    font-size: 45px;
    color: white;
}
#c2{
    padding-left: 49px;
    margin-top: -35px;
    font-family:'Courier New', Courier, monospace ;
    font-size: 27px;
    color: white;
}
#c3{
    height: 76px;
    margin-left:19px;
    width: 65px;
    margin-top:79px;
}
#c4{
    margin-left:102px;
    margin-top:-80px ;
    font-size: 19px;
    font-family: monospace;
    color: #4e2406;
}
#c5{
    height: 76px;
    width: 70px;
    margin-top:-103px;
    margin-left:289px;
    margin-bottom:48px;
}
#c6{
    margin-top:-115px;
    margin-left: 360px;
    font-family: monospace;
    font-size: 19px;
    color: #4e2406;

}
#c7{
    margin-bottom:-101px;
    margin-left:36px;
    font-size: 19px;
    height: 56px;
    width: 48px;

}
#c8{
    margin-left:102px;
    margin-top:35px ;
    font-size: 19px;
    font-family: monospace;
    color: #4e2406;
}
#c9{
    height: 61px;
    width: 49px;
    margin-top:-103px;
    margin-left:308px;
    margin-bottom:53px;
}
#d1{
    margin-top:-98px;
    margin-left: 360px;
    font-family: monospace;
    font-size: 19px;
    color: #4e2406;
}
#d2{
    margin-left: 26px;
    margin-top: 69px;
    width: 75px;
    height:44px;
}
#d3{
     margin-left:110px;
     margin-top:-50px ;
     font-size: 19px;
     font-family: monospace;
     color: #4e2406;
}
#d4{
    height: 62px;
    width: 94px;
    margin-left:303px;
    margin-top: -92px;
    margin-bottom: 70px;
}
#d5{
    margin-top:-110px;
    margin-left: 372px;
    font-family: monospace;
    font-size: 19px;
    color: #4e2406;
}
#d7{
    height: 67px;
    width: 85px;
    margin-left:28px;
    margin-top: 34px;
    margin-bottom: 70px;
}
#d8{
    margin-left:108px;
    margin-top:-127px ;
    font-size: 19px;
    font-family: monospace;
    color: #4e2406;
}
#d9{
    height:55px;
    width: 79px;
    margin-left:303px;
    margin-top:-81px;
    margin-bottom: 70px;
}#d10{
    margin-top:-114px;
    margin-left:385px;
    font-family: monospace;
    font-size: 19px;
    color: #4e2406;
}
#e1{
    width: 567px; 
    height: 41px;
    background-color:#4e2406;
    margin-top:90px;
}
#e2{
    width: 1034px;
    height: 547px;
    margin-left: 469px;
    margin-top: -558px;
    background-color: rgb(241, 241, 232);
}
#e3{
    width: 512px;
    height:266px;
    margin-bottom:350px ;
    margin-top: 6px;
    margin-left:1px ;
}
#e4{
    width: 254px;
    height:129px ;
    margin-bottom:486px;
}
#e5{
    width: 258px;
    height:129px ;
    margin-bottom:486px;
}
#e6{
    width: 514px;
    height:129px ;
    margin-top:-527px ;
    margin-bottom: 370px;
    margin-left: 517px;
}
#e7{
    width: 254px;
    height:146px ;
    margin-top:-516px ;
    margin-bottom: 234px;
    margin-left: 4px;

}
#e8{
    width: 256px;
    height:145px ;
    margin-top:-516px ;
    margin-bottom: 235px;

}
#e9{
    width: 254px;
    height:117px ;
    margin-top:-516px ;
    margin-bottom: 113px;
    margin-left:-518px;

}
#e10{
    width: 257px;
    height:115px ;
    margin-top:-512px ;
    margin-bottom: 114px;

}
#e11{
    width: 505px;
    height:266px ;
    margin-top:-387px ;
    margin-bottom: 323px;
    margin-left:524px;

}
#e12{
    width: 100%;
    height: 273px;
    background-color: #c89D7c;
    margin-top: 305px;
}
#f1{
    font-size: 27px;
    font-family: monospace;
    margin-top:-270px;
    margin-left:102px ;
   
    display: flex;
    
}
#f2{
    margin-left: 72px;
    display: flex;
}
#f3{
    margin-left: 111px;
    font-size: 17px;
    margin-top:-24px ;
    display: flex;
}
#f4{
    margin-left: 72px;
    display: flex;

}
#f5{
    margin-left: 115px;
    font-size: 17px;
    margin-top:-23px ;
    display: flex;
}
#f6{
    margin-left: 72px;
    display: flex;
}
#f7{
    margin-left: 115px;
    font-size: 17px;
    margin-top:-23px ;
    display: flex;
}
#f8{
    margin-left:576px ;
    margin-top: -96px;
    display:flex;
}
#f9{
 
    margin-left:643px;
    margin-top: -32px;
    display: flex;
    
   
}
#f10{
 
    margin-left: 717px;
    margin-top: -32px;
    display: flex;
   
}
#f11{
    margin-left: 558px;
    margin-top: 22px;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#h12{
    margin-left: 1107px;
    margin-top: -265px;
    display: flex;
    font-size: 26px;
   

}
#h13{
    margin-left: 1111px;
    margin-top: -12px;
    display: flex;
    font-size: 26px;
    
}
#name{
    margin-left: 1180px;
    margin-top: -50px;
    display: flex;
    font-size: 25px;
   
}
#email{
    margin-left: 1184px;
    margin-top: -55px;
    display: flex;
    font-size: 25px;
    
   
}
#h14{
    margin-left: 1079px;
    margin-top: -9px;
    display: flex;
    font-size: 25px;
    
}
#feed{
    
    margin-left: 1185px;
    margin-top: -48px;
    display: flex;
    font-size:7px;
   
}
#button{
    
    margin-left: 1242px;
    margin-top: 35px;
    display: flex;
    font-size:14px;
   
   
}

body{
    background-image: url("images/wall2.png");
    
}


